<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="AmrRobot">

    <xacro:macro name="imu" params="name parent *origin">
        <joint name="${name}_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${name}" />
        </joint>
        <link name="${name}">
            <visual>
               <origin xyz="0  0 -0.04" rpy="0 0 0" />
                <geometry>
                    <mesh filename="file://$(find amr_mini_description)/AmrMini_models/Amr_mini/meshes/imu.stl" scale="0.001 0.001 0.001" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="0  0 -0.04" rpy="0 0 0" />
                <geometry>
                    <mesh filename="file://$(find amr_mini_description)/AmrMini_models/Amr_mini/meshes/imu.stl" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>   
        </link>
       <gazebo reference="${name}">
            <material>Gazebo/Yellow</material>
        </gazebo>      
          <gazebo reference="${name}">
            <gravity>true</gravity>
        <sensor name="${name}_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>30</update_rate>
            <visualize>true</visualize>
   
            <plugin name="${name}_plugin" filename="libgazebo_ros_imu_sensor.so">
              <ros>
                <remapping>~/out:=imu</remapping>
              </ros>
             
              <frame_name>${name}</frame_name>
            </plugin>
          </sensor>
        </gazebo>
    </xacro:macro>
</robot>