<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="AmrRobot">

  <xacro:property name="pi" value="3.14"/>


<!-- inertial-->




  <xacro:macro name="motor" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
        <xacro:insert_block name="origin"/>
        <parent link="${parent}"/>
        <child link="${name}"/>
    </joint>
    <link name="${name}">
        <visual>
            <geometry>
              <mesh filename="file://$(find amr_mini_description)/AmrMini_models/Amr_mini/meshes/motor.stl" scale="0.001 0.001 0.00065"/>
            </geometry>
            <origin rpy="1.57 0 0 " xyz="0 0.05 0"/>
           
          </visual>
          <collision>
            <geometry>
              <mesh filename="file://$(find amr_mini_description)/AmrMini_models/Amr_mini/meshes/motor.stl" scale="0.001 0.001 0.00065"/>
            </geometry>
            <origin rpy="1.57 0 0 " xyz="0 0.05 0"/>
          </collision>
      </link>
         <!-- <gazebo reference="${name}">
      <material>
        Gazebo/Blue</material>
  </gazebo> -->

  </xacro:macro>

    
</robot>